snippet head "Header Block" b
" ----------------------------------------------------------------------------
" ${1:${VISUAL:Title}}
" ----------------------------------------------------------------------------
$0
endsnippet
